[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyinstaller = ">=4.2"
mypy = "*"
ruff = "*"
pytest = "*"
pytest-benchmark = "*"
hypothesis = "*"
matplotlib = "*"
maturin = "*"
pytest-cov = "*"

[packages]
post-align = {editable = true, path = "."}
types-setuptools = "*"

[requires]
python_version = "3.13"
