[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyinstaller = ">=4.2"
mypy = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
behave = "*"

[packages]
more-itertools = "*"
pafpy = "*"
types-setuptools = "*"
cython = "*"
orjson = ">3.10.0"
rich = "*"
typer = "*"

[requires]
python_version = "3.13"
