[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pyinstaller = ">=4.2"
post-align = {editable = true, path = "."}
mypy = "*"

[packages]
click = "*"
more-itertools = "*"
pafpy = "*"
types-setuptools = "*"

[requires]
python_version = "3.9"
