-i https://pypi.org/simple
altgraph==0.17
appnope==0.1.2; sys_platform == 'darwin'
backcall==0.2.0
click==7.1.2
decorator==4.4.2
ipython-genutils==0.2.0
ipython==7.21.0
jedi==0.18.0; python_version >= '3.6'
macholib==1.14; sys_platform == 'darwin'
more-itertools==8.7.0
pafpy==0.2.0
parso==0.8.1; python_version >= '3.6'
pexpect==4.8.0; sys_platform != 'win32'
pickleshare==0.7.5
prompt-toolkit==3.0.16; python_full_version >= '3.6.1'
ptyprocess==0.7.0
pygments==2.8.1; python_version >= '3.5'
pyinstaller-hooks-contrib==2021.1
pyinstaller==4.2
traitlets==5.0.5; python_version >= '3.7'
wcwidth==0.2.5
